@using Microsoft.AspNetCore.Http
@model Join
@{
    ViewData["Title"] = "Teams";
    var users = ViewData["users"] as List<User>;
    var recruiting = ViewData["recruiting"] as List<string>;
}
<div class="container">
    <div class="row">
        @*<div class="jumbotron jumbotron-fluid">
                <div class="container">
                    <h1 class="display-4">Fluid jumbotron</h1>
                    <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
                </div>
            </div>*@
        <div class="heading-title text-center">
            <h3 class="text-uppercase">Team List</h3>
            @if (@Context.Session.GetString("_Posistion") == "Captain" && Context.Session.GetString("_LoggedIn") == "true" && Context.Session.GetString("_Team") == "null")
            {
                <form action="@Url.Action("CreateTeam", "Team")">
                    <button type="submit" class="btn btn-success btn-lg float-right">Create Team</button>
                </form>
            }
        </div>
        <!--var user in users-->
        @for (int i = 0; i < users.Count; i++)
        {



            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 mt-3">
                        <div class="card">
                            <div class="card-horizontal">
                                <div class="img-square-wrapper">
                                    <img class="" style="max-width: 15vw" src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png" alt="Card image cap">
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-lg-9">
                                            <h4>Captain @users[i].FirstName</h4>
                                            <p><span class="subtitles">Email:</span> @users[i].Email</p>
                                            <p><span class="subtitles">Phone:</span> @users[i].MobilePhoneNumber</p>
                                            <p><span class="subtitles">Points:</span> @users[i].Points</p>
                                            @if (Context.Session.GetString("_LoggedIn") == "true" && Context.Session.GetString("_Team") == users[i].Team)
                                            {
                                                <p>Your Team</p>
                                            }
                                        </div>
                                        <div class="col-lg-3" style="padding: 20px 15px">
                                            @if (Context.Session.GetString("_LoggedIn") == "true" && Context.Session.GetString("_Team") == "null" && recruiting[i] == "true"
                                               && Context.Session.GetString("_Posistion") == "Pit")
                                            {

                                                <form action="@Url.Action("JoinTeam", "Team")">
                                                    <input value=@users[i].Team type="hidden" asp-for="TeamID" />
                                                    <input value=@users[i].Id type="hidden" asp-for="Joiner" />
                                                    <button type="submit" class="btn btn-success btn-sm float-left" style="width: 100%; font-size: 1.3rem">Join Team</button>
                                                </form>

                                            }
                                            <form action="@Url.Action("DisplayTeam", "Team")">
                                                <input value=@users[i].Team type="hidden" asp-for="TeamID" />
                                                <input value=@users[i].Id type="hidden" asp-for="Joiner" />
                                                <button type="submit" class="btn btn-success btn-sm float-left" style="width: 100%; font-size: 1.3rem">View Team</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @*<div class="card-footer">
                                    <small class="text-muted">Last updated 3 mins ago</small>
                                </div>*@
                        </div>
                    </div>
                </div>
            </div>







            @*<div class="col-md-3 col-sm-3">
                    <div class="team-member">
                        <div class="team-img">
                            <img src="https://image.freepik.com/free-photo/man-standing-with-a-black-t-shirt_1187-1045.jpg" alt="team member" class="img-responsive">
                        </div>
                        <div class="team-hover" style=" word-break: break-word; margin-bottom: 3em; text-align: center;">

                            <h4>Captain @users[i].FirstName</h4>
                            <p>Email: @users[i].Email</p>
                            <p>Phone: @users[i].MobilePhoneNumber</p>
                            <p>Points: @users[i].Points</p>
                            @if (Context.Session.GetString("_LoggedIn") == "true" && Context.Session.GetString("_Team") == users[i].Team)
                            {
                                <p>Your Team</p>
                            }
                        </div>
                        <div class="s-link">
                            @if (Context.Session.GetString("_LoggedIn") == "true" && Context.Session.GetString("_Team") == "null" && recruiting[i] == "true"
                           && Context.Session.GetString("_Posistion") == "Pit")
                            {

                                <form action="@Url.Action("JoinTeam", "Team")">
                                    <input value=@users[i].Team type="hidden" asp-for="TeamID" />
                                    <input value=@users[i].Id type="hidden" asp-for="Joiner" />
                                    <button type="submit" class="btn btn-success btn-sm float-left">Join Team</button>
                                </form>

                            }
                            <form action="@Url.Action("DisplayTeam", "Team")">
                                <input value=@users[i].Team type="hidden" asp-for="TeamID" />
                                <input value=@users[i].Id type="hidden" asp-for="Joiner" />
                                <button type="submit" class="btn btn-success btn-sm float-left">View Team</button>
                            </form>

                        </div>
                    </div>
                </div>*@
            @*<div class="team-title">
                    <h5>Martin Smith</h5>
                    <span>founder &amp; ceo</span>
                </div>*@

        }
    </div>
</div>
